.viewer-edit-profile{
    width: 5rem !important;
    border-radius: 12px !important;
    list-style-type: none !important;
}
.viewer-edit-profile a{
    font-size: 1rem !important;
    line-height: 1.15 !important;
    color: white;
    text-decoration: none;
}

.viewer-comment-image{
    width: 8rem !important;
    border-radius: 12px !important;
    list-style-type: none !important;
}
.viewer-comment-image a{
    font-size: 1rem !important;
    line-height: 1.15 !important;
    color: white;
    text-decoration: none;
}