body{
    height: 520px;
    width: 320px;
    background-color: #2b2b2b;
    color: white;
    border-radius: 20px;
}

.setLine{
    padding-bottom: 15px;
    line-height: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.hidden{
    display: none;
}

#addGames, #profile, #payments{
    height: 100%;
    width: calc(100% - 16px);
    position: absolute;
    background-color: #424242;
    margin-top: -15px;
    margin-left: -8px;
    padding-left: 8px;
    padding-right: 8px;
    z-index: 2000;
}

#addGames .tooltiptext, #profile .tooltiptext, #payments .tooltiptext{
    background-color: #595959;
}

.setLine button{
    float: right;
}

.close-button{
    float: right;
    max-width: none;
    padding-left: 10px;
    padding-right: 10px;
}

.textInput textarea{
    width: 287px;
    height: 120px;
    padding: 4px 8px;
    border-radius: 3px;
    border-width: 0;
    resize: none;
    box-shadow: inset 0px 0px 5px 2px black;
    background-color: #2b2b2b;
    color: #d9d9d9;
    line-height: 1.5;
    scrollbar-color: #2b2b2b #424242;
}
.aliasLabel{
    display:inline-block;
    margin-bottom: 5px;
}

.textInput.headCentered{
    padding-bottom: 10px;
}

.setLine span{
    width: 95%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 17px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip i{
    color: #64acfc;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 220px;
    background-color: #424242;
    box-shadow: 0 0 6px 0 black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 3px;
    position: absolute;
    z-index: 1;
    margin-left: -170px;
    top: 100%;
    left: 50%;
}
.right{
    margin-left: -40px !important;
}
.top{
    top: unset !important;
    bottom: 100% !important;
    left: 50% !important;
    margin-left: -60px !important;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

button {
    align-items: center;
    background-color: #2196F3;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-size: 10px;
    line-height: 10px;
    justify-content: center;
    max-width: 480px;
    min-height: 25px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}

button:hover,
button:focus {
    background-color: #16437E;
    color: #ffffff;
}

button:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
}

button:disabled {
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
}

@keyframes appear {
    from{
        display: none;
        opacity: 0;
    }
    to{
        display: block;
        opacity: 1;
    }
}
@keyframes disappear {
    from{
        display: block;
        opacity: 1;
    }
    to{
        display: none;
        opacity: 0;
    }
}
