body{
    background: #282828 !important;
    color: 	#e6e6e6 !important;
}

.panel{
    background: #3f3f3f !important;
    color: 	#e6e6e6 !important;
    box-shadow: none !important;
}

.attributes_table table th {
    color: #d9d9d9 !important;
    text-shadow: #0d0d0d 0 1px 0 !important;
}

.section>h3, .panel>h3 {
    background-color: #333333 !important;
    background-image: linear-gradient(180deg, #333333, #262626) !important;
    color: 	#e6e6e6 !important;
    text-shadow: #0d0d0d 0 1px 0 !important;
    border: none !important;
    box-shadow: none !important;
}

.attributes_table table th, .attributes_table table td {
    border-bottom: 1px solid #4d4d4d !important;
}

body.active_admin .status_tag.error, body.active_admin .status_tag.errored, body.active_admin .status_tag.red {
    background: #c9695e !important;
}

.panel_contents table tr.even td, table.index_table tr.even td{
    background: #404040 !important;
}

table.index_table td {
    border-bottom: 1px solid #4d4d4d !important;
    background: #4d4d4d !important;
}

table.index_table th{
    background-color: #333333 !important;
    background-image: linear-gradient(180deg, #333333, #262626) !important;
    color: 	#e6e6e6 !important;
    text-shadow: #0d0d0d 0 1px 0 !important;
    border: none !important;
    box-shadow: none !important;
}

.panel_contents table tr.odd td{
    background: #4d4d4d !important;
}

.pagination a{
    background-color: #333333 !important;
    background-image: linear-gradient(180deg, #404040, #333333) !important;
    color: 	#e6e6e6 !important;
    text-shadow: #0d0d0d 0 1px 0 !important;
    border: none !important;
    box-shadow: none !important;
}

.pagination span.page.current{
    background-image: linear-gradient(180deg, #4d4d4d, #404040) !important;
}

.pagination_information {
    color: #f2f2f2 !important;
}

.pagination_information b{
    color: #bfbfbf !important;
}

.sidebar_section>h3 {
    box-shadow: none !important;
}

.sidebar_section>h3 {
    box-shadow: none !important;
}

.panel_contents table th {
    text-shadow: #0d0d0d 0 1px 0 !important;
    color: 	#c6d2d2 !important;
    border-bottom: 1px solid #717171 !important;
}

#title_bar, #titlebar_left, #titlebar_right{
    background-color: #282828 !important;
    background-image: linear-gradient(180deg, #575757, #3f3f3f) !important;
    box-shadow: none !important;
    text-shadow: #0d0d0d 0 1px 0 !important;
    border: none !important;

}

table.index_table th.sorted-asc, table.index_table th.sorted-desc {

}

h1, h2, h3, h4, h5, h6 {
    color: #d4d4c4 !important;
}

form fieldset.inputs{
    background: #3f3f3f !important;
}

form fieldset ol>li label abbr {
    color: #8b8b8b !important;
}

form fieldset ol>li label {
    color: #d4d4c4 !important;
}

.status_tag{
    color: black !important;
    background: #d9d9d9 !important;
}

body.active_admin .status_tag.ok, body.active_admin .status_tag.published, body.active_admin .status_tag.complete, body.active_admin .status_tag.completed, body.active_admin .status_tag.green{
    background: #527a58 !important;
}

.status_tag.no {
    background: #999999 !important; ;
    color: #e6e6e6 !important;
}

body.active_admin .status_tag.warn, body.active_admin .status_tag.warning, body.active_admin .status_tag.orange {
    background: #ba914a !important;
}

a, a:link, a:visited {
    color: #7fabcc !important;
}

#header a, #header a:link {
    color: #cdcdcd !important;
}

a.button, a:link.button, a:visited.button, input[type=submit], input[type=button], button {
    color: #d9d9d9 !important;
}
.player-tag {
    color: #e6e6e6 !important;
}

.player-tag-is-online{
    background-color: #65b464 !important;
    color: #e6e6e6 !important
}

form.filter_form .buttons, form.filter_form .actions {
    background-color: unset !important;
}

.sidebar_section label{
    color: 	#c6d2d2 !important;
}

.selectize-input, .selectize-control.single .selectize-input.input-active, input, form textarea, form select  {
    background-color: #4d4d4d !important;
    color: #c6d2d2 !important;
    border: none !important;
    box-shadow: inset 0px 0px 2px rgba(0,0,0,0.9) !important;
}
